html {
    font-family: sans-serif;
    background-color: beige;
}

#header {
    display: flex;
    align-items: center;
    gap: 40px;
}

#grid-container {
    display: flex;
    width: 900px;
    height: 900px;

}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.square {
    flex: 1;
}

button {
    width: 100px;
    height: 40px;
}